.nav {
  position: absolute;
  height: 110px;
  width: 100%;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include xl {
    justify-content: flex-start;
    margin-top: 1rem;
  }

  &__logo {
    height: 1rem;
    z-index: 800;

    @include xl {
      margin-left: 4rem;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 1.5rem;

    z-index: 900;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    visibility: hidden;
    list-style: none;

    background-color: $white;

    transition: all 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      background-color: $black;
      opacity: 0.5;
      width: 100vw;
      height: 100vh;
      top: 110px;
      left: 0;

      @include xl {
        display: none;
      }
    }

    @include xl {
      justify-content: flex-start;
      position: relative;
      visibility: visible;
      background-color: transparent;
      margin-left: 2rem;
    }
  }

  &__item {
    margin-left: 2rem;

    @include xl {
      margin-left: 3rem;
    }
  }

  &__link {
    color: $black;

    @include xl {
      color: $white;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 3px;
        background-color: $white;
        top: 1.5rem;
        left: 0;
        transform: scaleX(0);
        transition: 0.3s;
      }

      &:hover {
        &::after {
          visibility: visible;
          transform: scaleX(0.7);
        }
      }
    }
  }
}
