.header {
  &__content {
    margin: 4rem 1.9rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__link {
    font-weight: $medium;
    letter-spacing: 0.625rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 0.75rem;
      width: 2.5rem;
      background-image: url("../../public/assets/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;

      background-size: contain;

      top: 50%;
      right: -4.5rem;
      transform: translateY(-55%);
    }
  }
}

.about {
  &__content {
    margin: 4rem 1.9rem;
  }

  &__title {
    margin-bottom: 1rem;
  }
}
