// COLORS
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

// RESPONSIVE
$large-phone: 576px;
$tablet: 768px;
$large-tablet: 992px;
$desktop: 1200px;
$large-desktop: 1400px;

// FONTS
/* family */
$spartan: "Spartan", sans-serif;

/* weight */
$medium: 500;
$semi-bold: 600;
$bold: 700;
