.btn-slider {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  border: 0;
  outline: none;
  padding: 0;

  height: 56px;
  width: 56px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  background-color: $black;

  &--previous {
    background-image: url("../../public/assets/icon-slider-previous.svg");
  }

  &--next {
    background-image: url("../../public/assets/icon-slider-next.svg");
  }

  &:hover {
    background-color: $very-dark-gray;
  }
}
