.header {
  position: relative;

  @include xl {
    height: 65vh;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  &__slider-container {
    position: relative;

    @include xl {
      grid-column: 1 / 7;
      overflow: hidden;
    }
  }

  &__slider-image {
    width: 100%;
  }

  &__image-container {
    height: 45vh;
    position: relative;

    @include xl {
      height: 65vh;
    }
  }

  &__btn-container {
    position: absolute;

    top: 45vh;
    transform: translateY(-100%);
    right: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;

    @include xl {
      top: auto;
      transform: translateY(0);

      bottom: 0;
      width: 16.7%;
      right: 23.3%;
    }
  }

  &__content {
    margin: 4rem 1.9rem;

    @include xl {
      grid-column: 7 / 11;
      margin: auto 6rem;
    }

    @include xxl {
      margin: auto 8rem;
    }
  }
  

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__link {
    font-weight: $medium;
    letter-spacing: 0.625rem;
    position: relative;
    transition: all 0.2s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      height: 0.75rem;
      width: 2.5rem;
      background-image: url("../../public/static/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;

      background-size: contain;

      top: 50%;
      right: -4.5rem;
      transform: translateY(-55%);
    }

    &:hover {
      opacity: 0.4;
    }
  }
}
